<div class="row">
        <div class="col s12 m4">
          <div class="card #ffb300 amber ">
            <div class="card-content white-text">
              <span class="card-title">Numero Prodotti</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#" class="white-text">This is a link</a>
              <a href="#" class="white-text">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card #00e676 green accent-3 ">
            <div class="card-content white-text">
              <span class="card-title">Numero Clienti</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#" class="white-text">This is a link</a>
              <a href="#" class="white-text">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card #7c4dff deep-purple accent-2 ">
            <div class="card-content white-text">
              <span class="card-title">Numero Fornitori</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#" class="white-text">This is a link</a>
              <a href="#" class="white-text">This is a link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12">
          <ul class="collection with-header ">
            <li class="collection-header #ff3d00 deep-orange accent-3 white-text">
              <h4>Promemoria</h4>
            </li>
            <a href="#task-modal" class="task-add modal-trigger btn-floating waves-effect waves-light gradient-45deg-red-pink gradient-shadow">
              <i class="material-icons">add</i>
            </a>
            <li class="collection-item">
              <label>
                <input type="checkbox" />
                <span>ciao</span>
              </label>
  
            </li>
            <li class="collection-item">
              <label>
                <input type="checkbox" />
                <span>ciao</span>
              </label>
            </li>
            <li class="collection-item">
              <label>
                <input type="checkbox" />
                <span>ciao</span>
              </label>
            </li>
            <li class="collection-item">
              <label>
                <input type="checkbox" />
                <span>ciao</span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>